/logs/*
/config/.env
/config/local.yml
/core/library/smarty/compile/*
/core/library/smarty/cache/*
/public/uploads/*
/public/images/products/*
/public/images/categories/*
/public/images/entries/*
!README.md
!.gitignore
